body {
    /* background-color: mediumpurple; */
    background-color: #8ec5fc;
    font-family: sans-serif;
}

.message {
    background-color: darkorchid;
    width: 250px;
    height: 25px;
    margin: 10px auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.game {
    width: 450px;
    height: 450px;
    margin: 25px auto;
}

.row {
    height: 32%;
}

.column {
    height: 100%;
    width: 32%;
    border: 2px solid darkorange;
    float: left;
    font-size: 125px;
    color: darkorchid;
    text-align: center;
    cursor: pointer;
}

#cell00,
#cell01,
#cell02 {
    border-top: none;
}

#cell00,
#cell10,
#cell20 {
    border-left: none;
}

#cell02,
#cell12,
#cell22 {
    border-right: none;
}

#cell20,
#cell21,
#cell22 {
    border-bottom: none;
}

.button {
    margin: 10px auto;
    text-align: center;
}

.btn {
    background-color: darkorchid;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
}
